<?xml version="1.0"?>
<model>
    <name>IRIS with 4 Lidar and 1 Optical facing forward</name>
    <version>1.0</version>
    <sdf version='1.5'>my_vehicle.sdf</sdf>

    <author>
        <name>Zi Min Er</name>
        <email>erzimin@gmail.com</email>
    </author>

    <description>
        This is a cutomized model of the Iris Quadrotor with a 4 forward facing lidar and 1 forward facing Optical
    </description>
</model>

    